body{
	background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	position: relative;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}

.navbar {
	width: 100%;
	height: 60px;
	background-color: #07020D ;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.navbar .container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.navbar-menu li{
	display: inline-block;
}

.navbar-menu li a{
	font-weight: 700;
	font-size: 20px;
	display: inline-block;
	color: #F1E9DB;
	text-decoration: none;
	padding: 20px;

	transition: all .1s ease-in-out;
}
.navbar-menu li a:hover{
	color: #E4572E;
}

.navbar-brand {
	font-weight: 700;
	font-size: 26px;
	text-decoration: none;
	color: #F1E9DB;
	transition: all .1s ease-in-out;
}
.navbar-brand:hover {
	color: #E4572E;
}


.place {
	margin-top: 10px;
	height: 360px;
	width: 320px;
	background-color: #07020D ;
	border-radius: 5px;	

}

.image img {
	height: 300px;
	width: 300px;
	border-radius: 5px;	
}
.image {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	transition: .3s;
}
.image:hover {
	transform: scale(1.07);
}


.info-name {
	margin-left: 10px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	color: #F1E9DB;
}
.info-name:hover {
	color: #E4572E;
}